@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlayfairDisplay';
  src:
    local('PlayfairDisplay'),
    url('./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Afacad';
  src:
    local('Afacad'),
    url('./assets/fonts/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}